USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[SendNewIncomeToSavings]    Script Date: 25.03.2026 19:32:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SendNewIncomeToSavings] @IncomeId bigint
AS
BEGIN
	SET NOCOUNT ON;

	--Send to the Target	
	DECLARE @InitDlgHandle UNIQUEIDENTIFIER; --!!!
	DECLARE @RequestMessage NVARCHAR(4000);
		
	BEGIN TRAN --!!!

		SELECT @RequestMessage = (SELECT SummI AS [SummI],
											Incomeid as [IncomeId],
											Clientid as [Clientid],
											AccountId as [AccountId]
								  FROM dbo.Income 
								  WHERE IncomeId =  @IncomeId
								  FOR XML AUTO, root('RequestMessage')); 
		
		--Determine the Initiator Service, Target Service and the Contract 
		BEGIN DIALOG @InitDlgHandle --!!!
		FROM SERVICE [//FI/SB/InitiatorService] TO SERVICE '//FI/SB/TargetService'
		ON CONTRACT [//FI/SB/Contract]
		WITH ENCRYPTION = OFF; 

		--Send the Message
		SEND ON CONVERSATION @InitDlgHandle MESSAGE TYPE [//FI/SB/RequestMessage] (@RequestMessage);
		
		SELECT @RequestMessage AS SentRequestMessage;
	
	COMMIT TRAN 
END
