USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[GetNewAmountFromIncome]    Script Date: 25.03.2026 19:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- !!! без параметров RECEIVE TargetQueueFI
ALTER   PROCEDURE [dbo].[GetNewAmountFromIncome]
AS
BEGIN

	DECLARE @TargetDlgHandle UNIQUEIDENTIFIER,
			@Message NVARCHAR(4000),
			@MessageType Sysname,
			@ReplyMessage NVARCHAR(4000),
			@ReplyMessageName Sysname,
			@Summ money, 
			@Clientid Bigint,
			@AccountId bigint,
			@IncomeId bigint,
			@xml XML; 
	
	BEGIN TRAN; 

		RECEIVE TOP(1) --!!
			@TargetDlgHandle = Conversation_Handle,
			@Message = Message_Body,
			@MessageType = Message_Type_Name
		FROM dbo.TargetQueueFI; 

		SET @xml = CAST(@Message AS XML);


		SELECT @Summ = R.I.value('(@SummI)','money'),
	   @Clientid = R.I.value('(@Clientid)','bigint'),
		 @IncomeId = R.I.value('(@IncomeId)','bigint'),
		 @AccountId = R.I.value('(@AccountId)','bigint')
	 	FROM @xml.nodes('/RequestMessage/dbo.Income') as R(I);

		select @summ, @Clientid, @IncomeId

		IF @Summ is not null 
		BEGIN
			Insert into dbo.Savings(ClientId, AccountId, DateS, ItemId, SummS, Description, FromIncomeId)
		   Select @Clientid, @AccountId, getdate(), Itemid, @Summ, 'С зарплаты на отпуск ', @IncomeId
			from Items
			where ExpIncSav='sav' and name='Отпуск 2026'
		END;
		
		SELECT @Message AS ReceivedRequestMessage, @MessageType; 
		
		-- Confirm and Send a reply
		IF @MessageType = N'//FI/SB/RequestMessage' BEGIN
			SET @ReplyMessage = N'<ReplyMessage> Message received</ReplyMessage>'; 
		
			SEND ON CONVERSATION @TargetDlgHandle MESSAGE TYPE [//FI/SB/ReplyMessage] (@ReplyMessage);
			END CONVERSATION @TargetDlgHandle; --!!!
		END 
		
		SELECT @ReplyMessage AS SentReplyMessage; 

	COMMIT TRAN;
END