USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[ConfirmIncome]    Script Date: 25.03.2026 19:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- !!! без параметров RECEIVE InitiatorQueueFI
ALTER   PROCEDURE [dbo].[ConfirmIncome]
AS
BEGIN
	--Receiving Reply Message from the Target.	
	DECLARE @InitiatorReplyDlgHandle UNIQUEIDENTIFIER,
			@ReplyReceivedMessage NVARCHAR(1000) 
	
	BEGIN TRAN; 

		RECEIVE TOP(1) -- !!
			@InitiatorReplyDlgHandle=Conversation_Handle
			,@ReplyReceivedMessage=Message_Body
		FROM dbo.InitiatorQueueFI; 
		
		END CONVERSATION @InitiatorReplyDlgHandle; --!!!
		
		SELECT @ReplyReceivedMessage AS ReceivedRepliedMessage; 

	COMMIT TRAN; 
END


