USE [Finance]
GO
/****** Object:  Trigger [dbo].[tg_IncomeAfter]    Script Date: 25.03.2026 19:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     trigger [dbo].[tg_IncomeAfter] on [dbo].[Income] after insert
as

declare @incomeid bigint


declare c cursor local static read_only for
	select I.IncomeId from inserted i
	 join items it on i.itemid=it.ItemId
	 where it.Name='Андрей зарплата'
open c;
fetch next from c into @incomeid

while @@fetch_status = 0 
begin

	if @incomeid is not null		
		  exec [dbo].[SendNewIncomeToSavings] @incomeid=@incomeid
	
	fetch next from c into @incomeid
end;
close c;
deallocate c;

